
/* .nav{
   background-color: rgb(215, 191, 156);// rgb(198, 160, 110);//
  border-radius: 7px;height: 35px;
}
.nav-link{
   border-radius: 1px;
   border:1px solid white;
}
.active{
   background-color:  red;border:1px solid white;
   color:white; border-radius: 7px;height: 35px;
} */


.nav{
   background-color: rgb(198, 160, 110);//border:1px solid black;
  border-radius: 7px;height: 35px;
}

/* .nav-link{
   font-size:13px;
} */
.active{
   background-color:  red;border:1px solid white;
   color:white; border-radius: 7px;height: 35px;
}

