
<nav class="navbar navbar-light bg-light navbar-absolute fixed-top navbar-transparent" >
  <div class="container-fluid">
<div class="navbar-wrapper"><div class="navbar-toggle">
  <button type="button" class="navbar-toggler" >
    <span class="navbar-toggler-bar bar1"></span>
    <span class="navbar-toggler-bar bar2"></span>
    <span class="navbar-toggler-bar bar3"></span>
  </button>
</div></div>


<li class="nav-item btn-rotate" ngbDropdown placement="bottom-left">
  <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink" >
    <i class="nc-icon nc-bell-55"></i>
    <p>
      <span class="d-lg-none d-md-block"></span>
    </p>
  </a>
<div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
 <a  routerLink="Auth" class="nav-link" href="#" > 
  LoginPlain</a>

  
 <a  routerLink="signupcustomer" class="nav-link" href="#" > 
  Sign Up</a>
</div>
</li>


</div>

</nav>
  <!-- <nav class="navbar navbar-light bg-light">
   <div class="container-fluid">
   


     <ul class="nav d-flex">
      
       <li class="nav-item" >
        
          <a  routerLink="Paid-Orders" class="nav-link" href="#" > 
            LoginPlain</a>
       </li>
       <li class="nav-item" >
        <a routerLink="signupcustomer" class="nav-link" href="#">
           SignUpPlain</a>
   </li>
       <li class="nav-item" >
            <a  class="nav-link" href="#" >
               Logout</a>
       </li>
     </ul>

     
   </div>
 </nav>  -->