/* 
.nav{
   background-color: rgb(198, 160, 110);//border:1px solid black;
  border-radius: 7px;height: 35px;
}
.nav-link{
   font-size:9px;
}
.active{
   background-color:  red;border:1px solid white;
   color:white; border-radius: 7px;height: 35px;
   font-size:15px;
}
 */
 
.nav{
   background-color: rgb(198, 160, 110);//border:1px solid black;
  border-radius: 7px;height: 35px;
}

.nav-link{
   font-size:10px;
}
.active{  /* replace scss here */
   background-color:  black;border:1px solid white;
   color:white; border-radius: 7px;height: 35px;
}
