
<div class='row'>
   <div class="col-md-12">
      
<table class="table table-striped">
  <thead>
    <tr>
     
         
                 <th>Product</th>
                 <th>Price</th>
                  <th>Quantity</th>
 
  <th scope="col"></th>
 
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aItem of orderdetail" style="height: 5px;"
  
    >
     
           <td style="height: 5px;">{{servCommon.GetDisplayNameByKey(product_list,'id',aItem.productId,'product_name') }}</td>
                  <td>{{aItem.price}}</td> <td>{{aItem.quantity}}</td>
      
  
    </tr>
  </tbody>
 </table>
     </div>
   </div>
   
   