<div class="card">
  <div class="card-body">
    
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
  

  <div class="row">
 
  <div class="col-6">
    <div class="form-group">
      <label for="promotionName">promotionName</label>
      <input type="text" maxlength="50" formControlName="promotionName" class="form-control" id="promotionName">
    </div>
</div>
<div class="col-6">
  <div class="form-group">
    <label for="promoType">Promotion Type</label>
    <select class="form-control" formControlName="promoType" value="apromo.promotionType" required>
 
  <option *ngFor="let apromo of PromotionTypeList" [value]="apromo.promotionType">{{apromo.promotionType}}</option>

    </select>
    <span class="error" *ngIf="isSubmitted && errorControl['promoType'].errors?.['required']">
      promoType not provided.
    </span> 
  </div>
    
    </div></div>

  
    
 

  


    <div class="row" *ngIf="errorControl['promoType'].value.indexOf('Buy')==-1">
    <div class="col-4">
      <div class="form-group">
        <label for="discountPercentage">discountPercentage</label>
        <input type="number" formControlName="discountPercentage" class="form-control" id="discountPercentage">
      </div>
    
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="discountAmount">discountAmount</label>
      <input type="number" formControlName="discountAmount" class="form-control" id="discountAmount">
    </div>
         </div>

         
    
  <div class="col-4">
    <div class="form-group">
      <label for="minOrderAmount">minOrderAmount</label>
      <input type="number" formControlName="minOrderAmount" class="form-control" id="minOrderAmount">
    </div>
         </div>
     
    </div>

   
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input class="form-control"
               id="startDate"
               placeholder="Enter Start Date"
               bsDatepicker
               [bsConfig]="bsConfig"
               formControlName="startDate">
      </div></div>
    <div class="col-6">
  
      <div class="form-group">
        <label for="endDate">End Datea:</label>
        <input class="form-control"
               id="endDate"
               placeholder="Enter End Date"
               bsDatepicker
               [bsConfig]="bsConfig"
               formControlName="endDate">
      </div>
</div>
</div>

  
<div class="row">
  <div class="col-4">
   <button [disabled]="isSubmitted==true" type="submit" class="btn btn-primary" (click)="onSubmitClick()">Submit</button>
  </div> 
  <div class="col-4">
  <button type="submit" class="btn btn-primary" (click)="onDeleteClick()">Delete</button>
   </div>
   <div class="col-4">
    <button type="submit" class="btn btn-primary" (click)="onCancelClick()">Cancel</button>
   </div>
</div>

 </form>
 
 </div>
</div>