.banner-container {
   display: flex;
   align-items: center;
   font-size:9px;
 }
 
 .banner-label {
   width: 60px;
   text-align: center;
   margin-right: 10px;
 }
 
 .banner-inputs {
   display: flex;
   align-items: center;text-align: center;
   margin-right: 10px;width:60px;
 }
 