<!-- <app-sellernavigation></app-sellernavigation>
<router-outlet></router-outlet> -->

   
<div class="wrapper">
   <div class="sidebar" data-color="white" data-active-color="danger">
       <sidebar-cmp></sidebar-cmp>
   </div>
   <div class="main-panel">
    <!--   <app-sellernavigation></app-sellernavigation> -->  <navbar-cmp></navbar-cmp>
       <div class="content">
           <router-outlet></router-outlet>
       </div>
       <footer-cmp></footer-cmp>
   </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>
<!---->
