

   <div class="card">
    <div class="card-body">

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
   
  <!-- <div class="form-group">
    <label for="userid">userid</label>
    <ng-select [items]="sellerList"     
    [ngClass]="{ 'disabled-select': addedit_OPmode === 'Edit' }"
        
     formControlName="seller_name" class="form-control" id="seller_name"
           bindLabel="display_name"
           (change)="onSelectProduct($event)"
          >
</ng-select>


</div> -->
  

  <!--  <div class="form-group">
     <label for="seller_name">Seller Name</label>
     <input type="text" formControlName="seller_name" class="form-control" id="seller_name">
   </div> -->

   <div class="row">
    <div class="col-6">
    <div class="form-group">
    <label for="userid">userid</label>
    <input type="text" formControlName="userid" class="form-control" id="userid">
    <span class="error" *ngIf="isSubmitted && errorControl['userid'].errors?.['required']">
      userid not provided.
    </span> 
  </div>
    </div>
  
    <div class="col-6">
  <div class="form-group">
    <label for="display_name">display_name</label>
    <input type="text" formControlName="display_name" class="form-control" id="display_name">
    <span class="error" *ngIf="isSubmitted && errorControl['display_name'].errors?.['required']">
      display_name not provided.
    </span> 
  </div>
    </div>
   </div>
   
   <div class="row">
    <div class="col-6">
  <div class="form-group">
    <label for="password">password</label>
    <input type="password" formControlName="password" class="form-control" id="password">
    <span class="error" *ngIf="isSubmitted && errorControl['password'].errors?.['required']">
      password not provided.
    </span> 
  </div>
    </div>
 <!--  <div class="form-group">
    <label for="userrole">userrole</label>
    <input type="text"  [readonly]="true" formControlName="userrole" class="form-control" id="userrole">
    <span class="error" *ngIf="isSubmitted && errorControl['userrole'].errors?.['required']">
      userrole not provided.
    </span> 
  </div> -->
  
  
    <div class="col-6">
<div class="form-group">
  <label for="IsActive">IsActive</label>
  <input type="checkbox"  [formControlName]="'IsActive'" id="IsActive">
  <span class="error" *ngIf="isSubmitted && errorControl['IsActive'].errors?.['required']">
    IsActive not provided.
  </span> 
</div>
    </div></div>
 
   <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
   </div>